<div *ngFor="let task of tasks">
  <label>
    <input type="checkbox"
           [(ngModel)]="task.completed"
           (ngModelChange)="update(task.id, task.name, task.completed, task.creationDate, task.completionDate)">
    Task: id={{task.id}}, name={{task.name}},
    creationDate={{task.creationDate | date:'yyyy-MM-dd'}},
    completionDate={{task.completionDate | date:'yyyy-MM-dd'}}
  </label>
  <button (click)="delete(task.id)">x</button>
</div>
